body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}

/*
black #666666
white #E6E6E6
main #00FF00
dark #396639
grey #B3B3B3
*/

.grey {
    color: #B3B3B3;
}

.container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.main-panel {
    background: #f7f7f7;

    padding-top: 1em;
    padding-left: 1em;

    min-width: 400px;
    flex-grow: 8;

    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: min-content;
}

.main-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 0.5em;
}

.main-item p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.link-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    background: #666666;
    color: #FFFFFF;

    /*min-width: 13em;*/
    flex-grow: 1;
}

.owner {
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.5em;
    color: #FFFFFF;
    margin-bottom: 2em;
}

.owner p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.links {
    padding-left: 2em;
    padding-right: 2em;
}

.link {
    display: flex;
    margin: 0.0em;
}

.link-text {
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.link-text p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

a {
    text-decoration: none;
    color: #00FF00;
}

a:hover {
    background: #396639;
    color: #E6E6E6;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.main-item-img {
    align-self: center;
}

.main-item-caption {
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
    color: #396639;

    align-self: center;
}

.main-item-description {
    align-self: flex-start;
    color: #666666;
    padding-bottom: 0.4em;
}

.main-item-role {
    align-self: flex-end;
    font-style: italic;
    color: #B3B3B3;
}

.main-item-link {
    align-self: flex-start;

    color: #396639;
}

.main-item-link a {
    text-decoration: none;
    background: #396639;
    color: #E6E6E6;
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-left: 0.1em;
}

.main-item-link a:hover {
    background: #396639;
    color: #00FF00;
    padding-left: 0.2em;
    padding-right: 0.2em;
}